/* styles/CustomCursor.module.css */
.cursorDot {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.hovering {
  transform: scale(1.5);
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .cursorDot {
    display: none;
  }
}